<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .rowcolor {
        background-color: black;
    }
</style>

<body>
    <main>
        <div class="row rowcolor text-white pl-5">
            <div class="container">
                <h2 class="ml-5 mt-3">Online Private Tutor Finding System Using Django</h2> <br>
                <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic
                    design. Built by experienced developers, it takes care of much of the hassle of Web development, so
                    you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
                </p>
                <p>In this project we will create an online tutor finding system in which students can find the respective tutors for their subjects and tutors can find respective students for private tutions.</p>
            </div>
        </div>
        <br>
        <div class="container">
            <h2>Django Installation</h2>
            <p>Firstly You nee to install the django and other requirements for starting this project.for this
                go to start menu of your system and search for CMD(Command Prompt).After selecting CMD create a
                root folder for our project</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>mkdir TutorProject</code>
            </div>
            <p>Before installing django make sure that python is installed on your Pc.To check wheather python
                exists...</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>python --version</code>
            </div>
            <p>If not installeds install python using</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>pip install python</code>
            </div>
            <p>Then You need a virtual environment for installing and creating django applications.for this type
            </p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>virtual tutorenv</code>
            </div>
            <p>This will create a virtual evironment named tutorenv in your system</p>
            <p>After creating go to files like scripts and activate to activate virtual environment for this </p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>tutorenv\Scripts\activate</code>
            </div>
            <p>Now we need to install the latest version of django</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>pip install django</code>
            </div>
            <p>After installtion we need to create a django project folder which will include all the dependencies
                for running django</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>django-admin startproject Tutorproject</code>
            </div>
            <p>Here a new project is created...and goto that project folder using </p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>cd Tutorproject</code>
            </div>
            <p>In this project we need to create a new app to develope our application.For this </p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>python manage.py startapp tutorapp</code>
            </div>
            <p>this will create a neww app on your project.</p>
            <p>So you are done with the installation and now we have to run our django project locally for this type
                command...</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>python manage.py runserver</code>
            </div>
            <p>This will result like this.</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>Performing system checks... <br>

                            System check identified no issues (0 silenced). <br>
                            
                            You have unapplied migrations; your app may not work properly until they are applied. <br>
                            Run 'python manage.py migrate' to apply them. <br>
                            
                            July 03, 2020 - 15:50:53 <br>
                            Django version 3.0, using settings 'mysite.settings' <br>
                            Starting development server at http://127.0.0.1:8000/ <br>
                            Quit the server with CONTROL-C.</code>
            </div>
            <p>Copy <code> http://127.0.0.1:8000/</code> and paste it in the local browser</p>
            <p>That's it...now you got your blank django application...</p>
        </div>
        <div class="container">
            <h2>Project Setup</h2>
            <p>Open TutorProject Folder with any IDE.</p>
            <p>Your created App will look like this</p>
            <div class="card pt-2 pb-2 pl-5 pr-5 mb-2">
                <code>tutorapp/ <br>
                        __init__.py <br>
                        admin.py <br>
                        apps.py <br>
                        migrations/ <br>
                            __init__.py <br>
                        models.py <br>
                        tests.py <br>
                        views.py
                    </code>
            </div>
            <p>in the tutorapp create a file <code>urls.py</code> and include following code</p>
            <div class="card mb-2">
                <div class="card-header">
                    <code>tutorapp/urls.py</code>
                </div>
                <div class="card-body">
                    <code>from django.urls import path <br>

                        from . import views <br>
                        
                        urlpatterns = [ <br>
                            path('', views.index, name='index'), <br>
                        ]</code>
                </div>
            </div>
            <p>The next step is to point the root URLconf at the tutorapp.urls module. In Tutorproject/urls.py, add an
                import for django.urls.include and insert an include() in the urlpatterns list, so you have:</p>
            <div class="card mb-2">
                <div class="card-header">
                    <code>Tutorproject/urls.py</code>
                </div>
                <div class="card-body">
                    <code>from django.contrib import admin <br>
                            from django.urls import include, path <br>
                            
                            urlpatterns = [ <br>
                                path('tutorapp/', include('polls.urls')), <br>
                                path('admin/', admin.site.urls), <br>
                            ]</code>
                </div>
            </div>
            <p>In <code>settings.py</code> of the <code>Tutorproject</code> include in INSTALLED APPS like this. </p>
            <div class="card mb-2">
                <div class="card-header">
                    <code>Tutorproject/sttings.py</code>
                </div>
                <div class="card-body">
                    <code>INSTALLED_APPS = [ <br>
                        'django.contrib.admin', <br>
                        'django.contrib.auth', <br>
                        'django.contrib.contenttypes', <br>
                        'django.contrib.sessions', <br>
                        'django.contrib.messages', <br>
                        'django.contrib.staticfiles', <br>
                        'tutorapp' <br>
                    ]</code>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <!-- css -->
    <link rel="stylesheet" href="statics/index.css">
    <!-- Bootstrap Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>